<div *ngIf="movies.length>0; else no_movies">
<h3 >{{title}}</h3>

<div class="alert alert-success" *ngIf="movies.length>0">
    {{movies.length}} movies found
</div>

<div class="mb-3">
  <input type="text" class="form-control" [(ngModel)]="filterText" placeholder="Search">
  <small class="text-muted" *ngIf="filterText">Search by : {{filterText}}</small>
</div>

<ng-template [ngTemplateOutlet]="movieList1"></ng-template>
</div>

<ng-template class="alert alert-danger" #no_movies>
  No movies found
</ng-template>

<ng-template #movieList1>
  <h2>Movies</h2>
  <div class="card mb-3" *ngFor="let movie of movies | filterMovie:filterText">
      <div class="row g-0">
        <div class="col-md-3">
          <img src="/assets/img/{{movie.imageUrl}}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <h5 class="card-title">{{movie.title | titlecase}}</h5>
            <p class="card-text">{{movie.description | summary }}</p>
            <p class="card-text"><small class="text-body-secondary">{{movie.datePublished | date :'dd/MM/y'}}</small></p>
            <button class="btn btn-sm btn-primary" (click)="btClick()">Details</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  





  